.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.header-search {
    display: flex;
    align-items: center;
}
/* Header.css */
.header-search .btn-primary:hover {
    background-color: #007bff; /* Adjust to your desired hover color */
}
