.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.header-search {
    display: flex;
    align-items: center;
    
    color: #000;
}


/* Header.css */



.search-button {
    background-color: #4299f7;
    border-color: #ccc;
    color: #333; /* Adjust text color as needed */
}

.search-button:hover{
    background-color: #4299f7;
}






.logout-button {
    background-color: red !important;
    color: white !important;
    display: inline;
}