/* Josephine css */
/* src/components/FindEvents.css */
.find-events-bg {
  background-image: url('./assets/event.jpg'); /* Update the path */
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  padding-top: 50px;
}
.cardP Title{
  text-align: center;
}
.shadow-sm {
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}
footer{
  background-color: rgb(107, 105, 105);
  color: #fff;
}
footer .text-right{
  display: flex;
  justify-content: space-between;
}
footer p{
  text-align: center;
}

.landImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
h3{
  text-align: center;
}

.landImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-image: url('../src/assets/event.jpg'); 
    background-size: cover;
    background-position: center;
    height: 80vh; 
    margin-top: 5px; 
    position: relative; 
}

.input-group {
    position: relative; 
    width: 40%; 
}

.form-control {
    padding-right: 20px; 
}


.card-link {
    text-decoration: none;     color: inherit; 
}

.card-link:hover {
    text-decoration: none; 
    color: inherit; 
}


@media (max-width: 767px) {
    .card-body {
        text-align: center;
    }
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {

  padding: 1rem 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
