/* .sidebar {
    position: relative;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 10px;

    
}
.active{
    background-color: #4299f7;
    
}


.sidebar-link {
    padding: 10px ;
    margin: 30px;
    text-decoration: none;
    color: #000;
    
}

.menu-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: nonbackground-color: #4299f7;e;
    font-size: 24px;
}
@media (max-width: 768px) {
    .menu-btn {
        display: block; 
        position: fixed;
        top: 20px; 
        left: 20px; 
        z-index: 1100;
        font-size: 24px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    
    .sidebar {
        width: 200px; 
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-nav {
        padding-top: 80px; 
    }
    .active{
        background-color: blue;
    }

    .sidebar-link {
        display: block;
        padding: 10px 20px; 
        text-align: left;
        color: white;
        text-decoration: none;
    }

    .sidebar-link i {
        margin-right: 10px; 
    }
} 
 */

.sidebar {
    width: 60px; /* Width of the sidebar with only the button visible */
    height: 100vh; /* Full viewport height */
    /* position: fixed; */
    transition: width 0.3s ease;
    background-color: #f8f9fa;
    padding-top: 10px;

}

.sidebar.open {
    width: 250px;
    
}

.menu-btn {
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin: 10px;
    text-align: left;
}

.sidebar-nav {
    margin-top: 10px;
    display: none; 
}

.sidebar-nav.open {
    display: block;
    
}

.sidebar-link {
    border-radius: .5rem;
    display: block;
    margin-top: 60px;
    padding: 20px;

    color: #333;
    text-decoration: none;
}

.sidebar-link.active {
    background-color: #4299f7;   
    color: #fff;
}

.sidebar-link i {
    margin-right: 10px;
}
